<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin-Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
 
<%- include('./headerAdmin')-%>  
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1>Agregar producto</h1>
    <form method="POST" action="/newProduct">
        <div class="form-group">
            <label for="idProduct">ID</label>
            <input required id="idProduct" placeholder="ID del producto" class="form-control" type="text"
                name="idProduct">
        </div>
        <div class="form-group">
            <label for="product">Nombre</label>
            <input required id="product" placeholder="Nombre del producto" class="form-control" type="text"
                name="product">
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input required id="price" placeholder="Precio del producto" class="form-control" type="number"
                name="price">
        </div>
        <div class="form-group">
            <label for="idCateg">Id Categoria</label>
            <input required id="idCateg" placeholder="Categoria del producto" class="form-control" type="number"
                name="idCateg">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/homeAdmin" class="btn btn-primary">Volver</a>
        </div>
    </form>
      
                
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Alex Shop 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>